.body{
    background-color: black;
}
.mainteste{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 90vh;

}


.divtable{
    color: white;
    border: solid var(--corPrincipal) 4px;
    height: 80vh;
    width: 70vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    font-size: 40px;
    min-width: 320px;
}   

.table{
    height: 55vh;


}
.table tr td{
    margin: 10px;
    display: flex;
    justify-content: end;
}

.table tr{
    align-items: center;
    border: solid var(--corPrincipal ) 4px;
    display: flex;
    justify-content: space-around;
    height: 10.5vh;
    
    margin: 1px;
    width: 64vw;
    overflow: hidden;
    transition: 0.6s;
    min-width: 280px;


}


@media only screen and (max-width : 1050px){
    .divtable{
   
        font-size: 30px;

    }


}